
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List1（使用string）</title>
</head>
<body>
    <div> 
        本畫面不會用到！因為直接傳回 string。
    </div>
</body>
</html>
